<template>
  <require from="./shop-item.css"></require>
  <div class="item panel panel-primary">
    <div class="panel-heading">
      <h4 class="primary">${shopItem.name}</h4>
      <h5 class="secondary">${shopItem.priceString}</h5>
    </div>
    <div class="panel-body">
      <img class="item-image" src="${shopItem.imgPath}" />
      <p>In stock: <strong class="${isOutOfStock ? 'stock-count-out' : 'stock-count-has'}">${shopItem.stockCount}</strong></p>
    </div>
    <div class="panel-footer">
      <button class="btn ${isOutOfStock ? 'disabled' : ''} btn-primary btn-block add-to-cart" type="button">${isOutOfStock ? 'Out of stock' : 'Add to cart'}</button>
    </div>
  </div>
</template>