<template>
  <require from="./shop-item.css"></require>
  <div class="item panel panel-primary">
    <div class="panel-heading">
      <h4 class="primary">${shopItem.name}</h4>
      <h5 class="secondary">${shopItem.priceString}</h5>
    </div>
    <div class="panel-body">
      <img src="${shopItem.imgPath}" />
      <p>In stock: <strong>${shopItem.stockCount}</strong></p>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary btn-block add-to-cart" type="button">Add to cart</button>
    </div>
  </div>
</template>