.wrapper {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.items {
  display: block;
  margin: 20px 0;
}

body {
  padding-top: 30px;
}

.navbar-fixed-top {
  z-index: auto !important;

  .shopping-cart-container {
    margin-top: 9px !important;
  }
}
